@import url('https://fonts.google.com/specimen/Nanum+Gothic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

.submenu a {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    text-decoration: none;
    color: black;
    justify-content: center;

    padding-left: 20px;
    padding-right: 20px;
}
  
.submenu a:hover {
    background-color:rgba(140, 0, 0, 0.829);
}
  
/* Show the submenu on hover */
.bx-menu:hover + .submenu,
.submenu:hover {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 30;
    justify-content: center;
}

.grid-item {
    position: relative;
  }

  