body {
    background-color: #ffeef2; /* Super light pink background */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5;
}


.form-container {
    background-color: #fff;
    border: 1px solid #000;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.form-container h2 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-group input, select {
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    text-align: left;
    border-bottom: 1px dashed #ccc; /* Visual cue for editability */
}


.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.form-buttons button, a{
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}


.form-buttons .back-button {
    background-color: #d3d3d3;
    color: #000;
}


.form-buttons .next-button {
    background-color: #ff6b6b;
    color: #fff;
}


.form-buttons .back-button:hover {
    background-color: #b0b0b0;
}


.form-buttons .next-button:hover {
    background-color: #ff4d4d;
}
a{
    text-decoration: none;
    text-align: center;
}