@import url('https://fonts.google.com/specimen/Nanum+Gothic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Shop Section Styles */
.shop-section-first{
    padding: 60px;
    background-color: #fff4f4;
    text-align: center;
    padding-top: 180px;
}

.shop-section-first .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.shop-section-first .product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 40px);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.shop-section-first .product img {
    height: 200px; 
    width: auto; 
    max-width: 100%; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 20px;
}

.shop-section-first .product h3 {
    font-size: 1.2em;
    margin: 15px 0 10px;
}

.shop-section-first .product p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.shop-section-first .product:hover {
    transform: translateY(-10px);
}

.shop-section {
    padding: 60px;
    background-color: #fff4f4;
    text-align: center;
    padding-top: 5px;
}

.shop-section .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.shop-section .product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 40px);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.shop-section .product img {
    height: 200px; 
    width: auto; 
    max-width: 100%; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 20px;
}

.shop-section .product h3 {
    font-size: 1.2em;
    margin: 15px 0 10px;
}

.shop-section .product p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.shop-section .product:hover {
    transform: translateY(-10px);
}

.dropdown-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
  .dropdown-results li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-results li:hover {
    background-color: #f0f0f0;
  }