
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}
body {
    background-color: #fff4f4; 
}

.seller-profile {
    display: flex;
    align-items: center;
    background-color: #af0e0ee3;
    padding: 80px 40px;
    border-bottom: 1px solid #ddd;
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 40px;
}

.seller-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 250px; /* logo ng shop*/
}

.seller-info {
    display: flex;
    flex-direction: column;
}

.seller-info h2 {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0 5px;
    margin-left: 10px; /* Name ng Shop */
}

/* Chat Button */
.chat-button {
    background-color: #ffffff; 
    color: rgb(102, 102, 102);
    border: none;
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-left: 700px; /* chat button */
}

.chat-button i {
    font-size: 16px;
}

.chat-button:hover {
    background-color: #ffdede;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*min-height: calc(105vh - 105px); */
    padding: 10px; 
}

.shop-section {
    padding: 10px;
    padding-bottom: 30px;
    background-color: #ffffff;
    text-align: center;
    width: 70%; /*width ng container*/
}

.shop-section .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.shop-section .product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: calc(33.333% - 40px);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.shop-section .product img {
    height: 200px; 
    width: auto; 
    max-width: 100%; 
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
    border-radius: 8px;
    margin-top: 20px;
}
.shop-section .product h3 {
    font-size: 1.2em;
    margin: 15px 0 10px;
}

.shop-section .product p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}


.center-container h2 {
    font-size: 15px;
    font-weight: normal;
    color: #6b6b6b;
    margin: 10px 0 5px;
    margin-right: 850px; /* All Products */
    margin-bottom: 20px;
    margin-top: 20px;
}

